ul {
    list-style-type: none; 
    padding: 20px;          
    margin: 0;           
    width: 600px;        
    font-family: Arial, sans-serif;
    margin-left: 200px;
}

li {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #f2f2f2; 
    padding: 20px 30px; 
    margin-bottom: 5px; 
    text-transform: uppercase;
    font-weight: bold;
}

li p {
    margin: 0; 
}

li a {
    text-decoration: none;
    color: #333;
    background-color: white;
    border: 1px solid #333;
    padding: 8px 15px;
    display: inline-block;
}