
body {
    font-family: sans-serif;
    margin: 20px; 
    background-color: #f0f0f0;
}

.galeria {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.galeria-item {
    width: 200px; 
    height: 200px;
    
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 200px; 

    background-color: #dddddd;
    border-radius: 10px;
    overflow: hidden; 
}

.galeria-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}