/*
    1. Contenedor Principal: Dsitribucion y alineacion de los elementos 
*/
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding:15px  50 px
}
.main div:last-child ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
.main div:last-child ul li a{
    padding: 8px 12px;
background-color: #777;
color: white;
text-transform: uppercase;
text-decoration: none;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo img{
    width: 100%;
    height: 100%;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}
