html, body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh; 
}
header, footer, main > * {
    padding: 20px;
    color: #333;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

header { background-color: #f7f7f7; }
footer { background-color: #f7f7f7; }
main { background-color: #eee; }
nav { background-color: #ddd; }
article { background-color: #ccc; }
aside { background-color: #ddd; }

main {
    display: flex;
    flex-grow: 1; 
}
main nav, main aside {
    flex-grow: 1;
    flex-basis: 150px; 
    flex-grow: 1;
}

main article {
    flex-grow: 2; 
    flex-basis: 400px;
}

main article h2 {
    margin-top: 0;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
}